@import "./styles/navbar";
@import "./styles/main";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --first-color: #010409;
  --second-color: #101214;
  --third-color: #161c23;
  --grey-color: #c9d1d9;
  --grey-two-color: #8b949e;
  --line-color: #30363d;
  --input-color: #0c1117;
}
